:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,200&family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Plus+Jakarta+Sans:wght@200&display=swap');
@media (prefers-color-scheme: dark)




{
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family:'Open Sans', sans-serif;
}


.custom-modal .modal-dialog {
   
     max-width: 560px; 

}


.raffle-container{
  background:#878787 ;
padding: 2px;
border-radius: 4px;

margin-right: 5px;
margin-top: 4px;
}
.raffle-container-success{
  background:#2A6418 ;
}

.raffe-container-size{
  width:59px
}

.raffle-box{
width: 55px;
font-size: 14px;
background:#878787 ;
color: #fff;
border: #A2BC9B;

}
.raffle-box-success{
background:#2A6418 ;
}



:root {

/* Colors: */
--unnamed-color-f1ecef: #F1ECEF;
--unnamed-color-e577a8: #E577A8;
--unnamed-color-dddddd: #DDDDDD;
--unnamed-color-d5d5d5: #D5D5D5;
--unnamed-color-b19aa4: #B19AA4;
--unnamed-color-ffffff: #FFFFFF;
--unnamed-color-c3286d: #C3286D;
--unnamed-color-784b5f: #784B5F;
--unnamed-color-f23d4f: #F23D4F;
--unnamed-color-ff8800: #FF8800;
--unnamed-color-00c851: #00C851;
--unnamed-color-70707000: #70707000;
--unnamed-color-707070: #707070;

/* Font/text values */
--unnamed-font-family-open-sans: 'Open Sans', sans-serif;
--unnamed-font-family-montserrat: Montserrat;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-600: 600px;
--unnamed-font-weight-normal: normal;
--unnamed-font-weight-bold: bold;
--unnamed-font-size-18: 18px;
--unnamed-font-size-29: 29px;
--unnamed-font-size-47: 47px;
--unnamed-character-spacing-0: 0px;
--unnamed-line-spacing-23: 23px;
--unnamed-line-spacing-35: 35px;
--unnamed-line-spacing-64: 64px;
}



/* Character Styles */
.unnamed-character-style-1 {
font-family: var(--unnamed-font-family-open-sans);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-18);
line-height: var(--unnamed-line-spacing-23);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-2 {
font-family: var(--unnamed-font-family-montserrat);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-29);
line-height: var(--unnamed-line-spacing-35);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-707070);
}
.unnamed-character-style-3 {
font-family: var(--unnamed-font-family-open-sans);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-47);
line-height: var(--unnamed-line-spacing-64);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-707070);}




/* pages del navbar*/




.home-navbar{
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-707070);

}



/* n0sotros*/
.fondo-nosotros{
  background: #CEA2B61A 0% 0% no-repeat padding-box;
border: 1px solid #70707000;
opacity: 1;
}

.title-nosotros{
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 0px;
color: #784B5F;
opacity: 1;
}
.subtitle-nosotros{
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0px;
color: #707070;
opacity: 1;
}

.text-nosotros{
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0px;
color: #707070;
opacity: 1;
}
.information-nosotros{
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0px;
color: #707070;
opacity: 1;
}




/*header*/
.header-background img{
width: 100%;
height: 60%;
position: absolute;
top: 7;
left: 0;
}



.home-header-rifate{
position: relative;
z-index: 10;
margin-top: 280px;
}

.header-icono{
  position: absolute;
  z-index: 10;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

.home-header-title{
letter-spacing: var(--unnamed-character-spacing-0);
text-align: center;
font-size: 48px;
color: #FFFFFF;
z-index: 10;
position: relative;

}

.home-header-subtitle{
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-784b5f);
text-align: left;
font-size: 47px;
font-weight: 600;

}
.home-header-parragraph{
font-family: 'Montserrat', sans-serif  !important;
letter-spacing: 0px;
color: #707070;
font-size: 30px;
font-weight: lighter !important ;
}

/* rifas */

.fondo-destacada{
  position: absolute;
  width: 99.9%;
  height: 750px;
 }

 .background-rifa{
  background: #CEA2B61A 0% 0% no-repeat padding-box;
border: 1px solid #70707000;
opacity: 1;
 }

.raffle-title{
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-784b5f);
text-align: left;
font-size: 63px;
color: #784B5F;
position: relative;
z-index: 10;

}

.raffe-text{
letter-spacing: var(--unnamed-character-spacing-0);
color: #707070;
text-align: left;
font-size: 38px;
font-weight: 600;
position: relative;
z-index: 10;
}


.raffle-container-title{
  letter-spacing: var(--unnamed-character-spacing-0);
  font-size: 28px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 0px;
  color: #939393;
  opacity: 1;
  position: relative;
z-index: 10;
}


.raffle-container-textinformation{
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-784b5f);
text-align: left;
font-weight: 600;
font-size: 44px;
opacity: 1;
position: relative;
z-index: 10;
}

.raffle-container-textinformation2{
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
letter-spacing: 0px;
color: #707070;
font-size: 24px;
font-weight: bold;
opacity: 1;
position: relative;
z-index: 10;
}

.raffle-container-value{
  letter-spacing: 0px;
  color: #5C5C5C;
  opacity: 1;
font-weight: normal;
font-size: 25px;
position: relative;
z-index: 10;
}
.button-rifaDestacada{
  position: relative;
  z-index: 10;
}

.btn-pink {
  background: var(--unnamed-color-c3286d) 0% 0% no-repeat padding-box !important;
background: #C3286D 0% 0% no-repeat padding-box !important;
border-radius: 6px !important;
opacity: 1;
color: var(--unnamed-color-ffffff) !important;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 16px/32px var(--unnamed-font-family-open-sans) !important;
letter-spacing: var(--unnamed-character-spacing-0);

}

.btn-withe{
  background: #FFFFFF 0% 0% no-repeat padding-box !important;
  border: 1px solid #434343   !important;
  border-radius: 4px !important;
  opacity: 1 !important;
  color: #4B4B4B;
opacity: 1;
}

.btn-border-pink{
  border: 1px solid #C3286D !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
border-radius: 6px  !important;
letter-spacing: var(--unnamed-character-spacing-0) !important;
color: var(--unnamed-color-c3286d) !important;
text-align: center !important;
font-weight: 600 !important;
font-size: 16px !important;
}

.raffle-container-finish{
text-align: left;
letter-spacing: 0px;
font-size: 24px;
font-weight: normal;
color: #5C5C5C;
position: relative;
z-index: 10;
}
 /*Rifa Description*/
 .title-RifaDescription{
  letter-spacing: 0px;
color: #784B5F;
opacity: 1;
font-size: 28px;
font-weight: 600;
 }

 .subtitle-rifDescription{
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0px;
color: #373940;
opacity: 1;
 }

 .text-rifaDescription{
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0px;
color: #939393;
opacity: 1
 }


/* rifas activas*/

.raffles-title{
  font-size: 32px;
  font-weight: 500;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-784b5f);
  text-align: left;
}
.raffles-subtitle{
font-size: 20px;
font-weight: 600;
color: var(--unnamed-color-707070);
text-align: left;
letter-spacing: 0px;
}

.raffles-navbar{
  font-size: 20px;
  font-weight: normal;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: #707070;
text-align: left;

}


.raffles-title-card{
font-size: 20px;
font-weight: 600;
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
color: #000000;
}

.raffles-subtitle-card{
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0px;
color: #989797;
opacity: 1;
}


/* all rifas*/
.container-AllRifas{
  background: #CEA2B61A 0% 0% no-repeat padding-box;
  border: 1px solid #70707000;
  opacity: 1;
}

.title-AllRifas{
 font-size: 60px;
 font-weight: 500; 
 letter-spacing: 0px;
color: #784B5F;
opacity: 1;
}
.subtitle-AllRifas{
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #707070;
opacity: 1;}

.text-AllRifas{
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;}


/* comprar boletos-*/
/*buy tickes*/

.fondo-buy-tickes{
  position: absolute;
  z-index: -1;
  left: 0px;
  width: 100%;
  height: 100%;
  top: 0px;
 
opacity: 1;
}
.title-buyTickes{
  position: relative;
  z-index: 10;
  letter-spacing: 0px;
color: #FFFDFD;
opacity: 1;
font-size: 28px;
font-weight: 600;
}

.container-butTickes{
  position: relative;
  z-index: 10;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.container-costoBoletos {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.container-value-buyTickes{
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0px;
color: #FFFFFF;
opacity: 1
}
.share-buyTickes{
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
position: relative;
z-index: 10;
}

.iconos-buyTickes{
  position: relative;
z-index: 10;
cursor: pointer;
}

/* boletos rifas*/
.subtitle-boletosaRifa{
  font-size: 20px;
  font-weight: normal;
letter-spacing: 0px;
color: #5C5C5C;
opacity: 1;
}

.value-boletosRifas{
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0px;
color: #5C5C5C;
opacity: 1;
}
/*Metodos de pago rifa*/

.input-placeholder{
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #C1C1C1;
opacity: 1;
border: 1px solid #707070;
border-radius: 6px;
}


.placeholder-button{
  letter-spacing: 0px;
color: #00C851;
opacity: 1;
font-size: 20px;
font-weight: normal;
}

.boletos{
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0px;
color: #5C5C5C;
}
.time-boletos{
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0px;
color:  #C3286D;;
}

.value-metodosPago{
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0px;
color: #5C5C5C;
opacity: 1;
}


/* pay sucessful*/

.tank-paySucessfull{
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0px;
color: #784B5F;
opacity: 1;
}
.text-paySucessful{
  letter-spacing: 0px;
color: #784B5F;
opacity: 1;
font-size: 20px;
font-weight: 600;
}
.value-paySucessful{
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0px;
color: #784B5F;
}


.share-paySucessfull{
  letter-spacing: 0px;
color: #5C5C5C;
opacity: 1;
font-size: 20px;
font-weight: normal;
}


/* home create rifa*/

.home-title-createRaffle{
font-size: 40px;
font-weight: bold;
font-family: 'Montserrat', sans-serif !important;
letter-spacing: 0px;
color: #784B5F;
opacity: 1;
}

.home-subtitle-create{
  font-size: 22px;
  font-weight: 600;

  letter-spacing: 0px;
color: #707070;
opacity: 1;
}
.home-sub-title-create{
  font-size: 22px;
  font-weight: bold;
text-align: left;
letter-spacing: 0px;
color: #707070;

}
.home-parragraph-create{
  font-size: 14px;
  font-weight: normal;

  text-align: left;
  letter-spacing: 0px;
  color: #707070;
}

.size-vision-mision-img{
  width: 500px;
  height: 250px;
}
.container-img{
  margin-right: 40px;
}
.title-vision-mision{
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0px;
color: #784B5F;
opacity: 1;
}
.text-vision-mision{
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0px;
color: #707070;
opacity: 1;
}


/* home participating*/

.title-participating{
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #784B5F;
opacity: 1;
font-family: 'Montserrat', sans-serif !important;

}

.subtitle-participating{
  font-size: 24px;
  font-weight: lighter;
font-family: 'Montserrat', sans-serif !important;

  letter-spacing: 0px;
  color: #707070;
opacity: 1;
}

.text-partcipating{
font-size: 20px;
font-weight: 400;
letter-spacing: 0px;
color: #707070;
opacity: 1
}



/* home testimnios */
 .fondo-testimoniales{
  position: absolute;
  width: 99.9%;
  height: 550px;
 }

.home-title-testimonios{
text-align: left;
letter-spacing: 0px;
color: #784B5F;
opacity: 1;
font-size: 47px;
font-weight: 600;
}

.home-subtitle-testimonios{
  font-size: 32px;
  font-weight: 600;
text-align: left;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}

.home-title-container-testimonios{
  font-size: 32px;
  font-weight: 600;
text-align: left;
letter-spacing: 0px;
color: #784B5F;
opacity: 1;
}
.home-subtitle-container-testimonios{
  font-size: 24px;
  font-weight: 600;

  text-align: left;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}
.home-information-container-testimonios{
  font-size: 16px;
  font-weight:  normal;
  text-align: left;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}

.circle-homeTestimonios{
  width: 18px !important;
  height: 18px !important;
  margin: auto;
  border-color: #272c29;
  border-radius: 50%;
  background: #C3286D 0% 0% no-repeat padding-box;
  opacity: 1;
  cursor: pointer;
}

/* Home rifate*/

.home-title-rifate{
  font-size: 70px;
  font-weight: 500;
text-align: center;
letter-spacing: 0px;
color: #784B5F;
opacity: 1;
}
.home-text-rifate{
  font-size: 40px;
  font-weight: normal;
  text-align: left;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}




/* pagina donaciones*/

.donaciones-title{
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0px;
color: #313131;
opacity: 1;
}

.tanks-donaciones-validacion{
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0px;
  letter-spacing: 0px;
color: #784B5F;
opacity: 1;
}
.information-donacionesValidacion{
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0px;
color: #784B5F;
opacity: 1;
line-height: 1.2;
}

.stepsToFollow-donaciones{
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0px;
color: #313131;
opacity: 1;
text-align: center;
}

.text-donaciones-validacion{
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0px;
color: #212121;
opacity: 1;
}

/*Resgistro*/

/*create Account*/

.title-CreateAccount{
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #784B5F;

}

.text-CreateAccount{
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0px;
color: #707070;
opacity: 1;
}

.title-registro-CreateAcount{
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0px;
color: #707070;
opacity: 1;
}


/*registro sucessfull*/

.tittle-registroSucessfull{
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0px;
color: #784B5F;

opacity: 1;
}

.subtitle-registroSucessfull{
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;

}

.text-registroSucessfull{
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;

}
.createRegistro{
  letter-spacing: 0px;
color: #707070;
opacity: 1;
font-size: 16px;
font-weight: 400;
}

.btn-purple{
background: #784B5F 0% 0% no-repeat padding-box !important;
border-radius: 4px  !important;
opacity: 1 !important;
color: #FFFFFF !important;
font-size: 16px !important;
}
.volver-inicio{
  letter-spacing: 0px;
color: #707070;
opacity: 1;
font-size: 16px;
font-weight: bold;
text-decoration: underline;
cursor: pointer;
text-align: center !important;
}



/*crear rifa registro*/

.fondo-crear-rifa{
  background: #784B5F 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  outline: none;
  border: none;
}

.text-fondo-container{
  opacity: 1;
  letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
font-size: 24px;
font-weight: 600;

}

.title-page-rifaRegistro{

font-size: 28px;
font-weight: 600;
text-align: center;
letter-spacing: 0px;
color: #784B5F;
opacity: 1;

}

/*footer*/

.footer-fondo{
  background: #F8F8F8 0% 0% no-repeat padding-box;
opacity: 1;
}
.footer-title{
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0px;
color: #5D5D5D;
opacity: 1;
}
.footer-information{
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
color: #8D8D8D;
opacity: 1;
}

.footer-text{
  font-size: 14px;
  font-weight: 600;
letter-spacing: 0px;
color: #939393;
opacity: 1;
}

.button-contacto{
  cursor: pointer;
}

/*contacto*/
.container-contacto{
  background: #C3286D;
  border-radius:5px;
text-align: center;
padding: 20px;
}

.contacto{
  letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
font-size: 46px;
font-weight: 600;
}

.help-contacto{
  font-size: 32px;
  font-weight: normal;;
  letter-spacing: 0px;
  letter-spacing: 0px;
  color: #373A3C;
  opacity: 1;}
  
  .informacion{
    letter-spacing: 0px;
    color: #373A3C;
    opacity: 1;
    font-size: 20px;
    font-weight: normal;
    opacity: 1;
  }







/*TABS*/

.title-tabs{
font-size: 18px;
font-weight: 500;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}
.Title-tabs2{
  font-size: 18px;
font-weight: 400;
  letter-spacing: 0px;
color: #707070;
}

/* css del label del form generator*/

.title-form-generator{
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #5C5C5C;
  opacity: 1;

}



.subtitle-form-generator{
  font-size: 16px ;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.title-Modal{
  font-size: 28px;
  color: #373A3C;
  font-weight: bolder;
}


.text-calculadora-boletos{
font-family: 'Montserrat', sans-serif  !important;

  font-size: 16PX;
  font-weight: normal;
  letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.value-calculadora-boletos{
  font-size: 16px;
  font-weight: medium;
  font-family: 'Montserrat', sans-serif  !important;
letter-spacing: 0px;
color: #000000;
opacity: 1;}



/*modal login*/
.registroAqui{
cursor: pointer;

}

/*modal notification*/

.container-modalNotification{
  position: absolute;
  top: 0px;
  right: 0;
  max-width: 313px;
  width: 100%;
  height: 500px;
  z-index: 1000;
  margin-top: 60px;
  background: #F6F7F8 0% 0% no-repeat padding-box;
  border: 1px solid #70707026;
}
.notification{
color: #131111;
font-size: 14px;

}
.leido-notification{
  color: #8BE6B2;
  font-weight: 600;
  font-size: 14px;
}
.contenedor{
  background: #fff;
}

.name-notifications{
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0px;
}

.parraf-notifications{
  font-size: 12px;
}

/* 
.size-imagenNotifications{
  width: 100px;
  height: 100px;
} */



/*tamano ico*/

.size-icon{
  width: 30px;
  height: 30px;
  margin: none;
}