:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}


.custom-modal .modal-dialog {
   
     max-width: 560px; 

}


.raffle-container{
  background:#2A6418 ;
padding: 2px;
border-radius: 4px;
margin-left: 5px;
margin-right: 5px;
margin-top: 4px;
}
.raffe-container-size{
  width:59px
}

.raffle-box{
width: 55px;
font-size: 14px;
background:#2A6418 ;
color: #fff;
border: #A2BC9B;

}
